.home-page {
    /* background-image: url("/assets/images/home-page.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: white;
    height: calc(100vh - 130px);
}
.margin-auto {
    margin: auto;
}
.font-size100 {
    font-size: 100px;
}
.sub-title {
    font-size: 50px;
    color: cadetblue;
}
.elt-image {
    width: 350px;
    height: 100px;
}
