<div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <h5 class="mb-4">
              <strong>Add Role</strong>
            </h5>
          </div>
        </div>
        <form nz-form [nzLayout]="'vertical'" [formGroup]="roleForm" (ngSubmit)="submitForm1()">
          <div class="row">
            <div class="col-md-4">
              <nz-form-item>
                <nz-form-label nzFor="roleName">Role Name</nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please enter role name!">
                  <input nz-input formControlName="roleName" placeholder="Role Name" id="roleName" />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div class="row float-right">
            <div class="col-6 mt-4">
              <nz-form-item>
                <button type="button" (click)="goBack()" class="btn btn-light px-5">
                  Cancel
                </button>
              </nz-form-item>
            </div>
            <div class="col-6 mt-4">
              <nz-form-item>
                <button type="button" (click)="submitForm1()" class="btn btn-light btn-sub px-5">
                  Submit
                </button>
              </nz-form-item>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>