<div class="card col-md-12 min-card-height">
    <div class="row">
      <div class="col-md-6">
        <div class="text-grey-6 font-size-16 mb-3">
          <strong >Assign Logo</strong>
         
        </div>
      </div>
      <div class="col-md-6 text-right padding-right30">
        <nz-form-item class="margin-bottom0">
          <nz-form-control>
            <button  (click)="submitForm()" nz-button nzType="primary" [nzSize]="'small'">
              <strong>Submit</strong>
            </button>
           
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="col-md-12 py-2">
      <form nz-form [nzLayout]="'vertical'" [formGroup]="customerForm" role="form">
        <div class="row">
          <div class="col-md-4 py-2">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="owner">Customer Name</nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="Please select Owner Name!">
                  <nz-select formControlName="ownerName" [nzMaxTagPlaceholder]="tagPlaceHolder"
                  nzPlaceHolder="Please select owner name">
                    <!-- <nz-option *ngFor="let item of ownerList" [nzLabel]="item" [nzValue]="item"></nz-option> -->
                    <nz-option *ngFor="let item of customerList" [nzLabel]="item" [nzValue]="item"></nz-option>
                  </nz-select>
                  <ng-template #tagPlaceHolder let-selectedList> and {{ selectedList.length }} more selected
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
          </div>                   
          <div class="col-md-4 py-2">
            <nz-form-item>
              <nz-form-label class="labels" nzRequired nzFor="logo">Choose Logo</nz-form-label>
              <nz-form-control>
                <nz-upload  [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" >
                    <button nz-button><i nz-icon nzType="upload"></i>Select Logo</button>
                </nz-upload>               
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </div>
  </div>