::ng-deep.btn-simple {
    padding: 3px !important;
    line-height: 0.9;
    border-radius: 3px;
    border: 1px solid;
}

.screenPreview::ng-deep.formcomponents {
    display: none;
}
.screenPreview::ng-deep.formarea {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}