nz-date-picker {
    margin: 0 8px 12px 0;
    margin-bottom: 15px !important;
  }

  .datesize{
    width: 30%;
    max-width: 30%;
    margin-bottom: 15px;
  }

  .spacebtn{
    margin-right: 20px;
  }

  .view{
    height: calc(100vh - 135px);
  }
  .top{
    margin-top: 5px;
  }
  .cardbot{
    margin-bottom: 0px;
  }
  .lastCardbot{
    margin-bottom: 5px;
  }