.mat-form-field {
    width: 12vw;
    padding: 5px 5px;
}
.mat-card-header .mat-card-title{
    letter-spacing: 0.8px;
    font: normal normal bold 16px/19px Lato;
    color: #74819E;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    position: relative;
    margin-bottom: 25px;
}
.mat-card-footer{
    margin-bottom: 30px;
    margin-left: 5px;
}
th{
    font: normal normal bold 16px/19px Lato;
}
.mat-card-content {
    margin-bottom: 25px; 
}
.desc {
    // position: absolute;
    display:flex;
    margin-bottom: 3px
    // right: 15px;
    // bottom: 0;
    // z-index: 9;
}
.active {
    font: normal normal bold 14px/17px Lato;
    letter-spacing: 0.7px;
    color: #74819E;
    font-family: "Lato", sans-serif;
    margin: 0;
    position: relative;
    padding-left: 17px;
    font-size: 16px
}
 .active:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #26A69A;
    position: absolute;
    border-radius: 10px;
    top: 6px;
    left: 3px;
}

 .desc .d1 {
    font: normal normal bold 14px/17px Lato;
    letter-spacing: 0.7px;
    color: #74819E;
    font-family: "Lato", sans-serif;
    margin: 0;
    position: relative;
    padding-left: 15px;
    font-size: 13px;
}
 .desc .d1:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #bcf0ec;
    position: absolute;
    border-radius: 10px;
    top: 3px;
    left: 0;
}
 .desc .d2 {
    font: normal normal bold 14px/17px Lato;
    letter-spacing: 0.7px;
    color: #74819E;
    font-family: "Lato", sans-serif;
    margin: 0;
    position: relative;
    padding-left: 15px;
    font-size: 13px;
    // padding-top: 5px;
}
.desc .d2:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #ffd20a;
    position: absolute;
    border-radius: 10px;
    top: 3px;
    left: 0;
}
.desc .d3 {
    font: normal normal bold 14px/17px Lato;
    letter-spacing: 0.7px;
    color: #74819E;
    font-family: "Lato", sans-serif;
    margin: 0;
    position: relative;
    padding-left: 15px;
    font-size: 13px;
}
 .desc .d3:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #ee2a41;
    position: absolute;
    border-radius: 10px;
    top: 3px;
    left: 0;
}
.desc .d4 {
    font: normal normal bold 14px/17px Lato;
    letter-spacing: 0.7px;
    color: #74819E;
    font-family: "Lato", sans-serif;
    margin: 0;
    position: relative;
    padding-left: 15px;
    font-size: 13px;
}
 .desc .d4:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #26a69a;
    position: absolute;
    border-radius: 10px;
    top: 3px;
    left: 0;
}
.desc .d5 {
    font: normal normal bold 14px/17px Lato;
    letter-spacing: 0.7px;
    color: #74819E;
    font-family: "Lato", sans-serif;
    margin: 0;
    position: relative;
    padding-left: 15px;
    font-size: 13px;
}
 .desc .d5:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #e57373;
    position: absolute;
    border-radius: 10px;
    top: 3px;
    left: 0;
}
.desc .d6{
    font: normal normal bold 14px/17px Lato;
    letter-spacing: 0.7px;
    color: #74819E;
    font-family: "Lato", sans-serif;
    margin: 0;
    position: relative;
    padding-left: 15px;
    font-size: 13px;
}
 .desc .d6:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #8e101f;
    position: absolute;
    border-radius: 10px;
    top: 3px;
    left: 0;
}



/* .mat-card-title:after{
    content: '';
    background: #057AE7;
    width: 60px;
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
} */
.t1:after {
    content: '';
    background: #057AE7;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
}
.t2:after {
    content: '';
    background: #057AE7;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
}
.t3:after {
    content: '';
    background: #057AE7;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 1px;
}
.c-subheader {
    background: #F7F9FC;
    box-shadow: none;
}

// alarm css strted
.alarm .mat-form-field {
    width: 13vw;
    padding: 5px 5px;
}

.alarm .title {
    font: normal normal bold 24px/29px Lato;
    letter-spacing: 1.2px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #2D3047;
}

.alarm .generateReport {
    float: right;
    background: #0575E6;
    color: #fff;
    border: none;
    border: 1px solid #0575E6;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 20px;
    padding: 9px 35px;
    font-size: 14px;
}
.alarmSummary{
    float: right;
    background: #FFFFFF;
    color: #0575E6;
    border: none;
    border: 1px solid #0575E6;
    box-shadow: none;
    outline: #0575E6;
    -webkit-appearance: none;
    border-radius: 20px;
    padding: 9px 35px;
    font-size: 14px;
    margin-right: 10px;
}

.alarm .smallDesc {
    font: normal normal bold 16px/19px Lato;
    letter-spacing: 0.8px;
    color: #74819E;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.alarm {
    background: #F7F9FC;
    width: 100%;
}

.alarm .reset {
    padding-left: 10px;
    position: absolute;
    top: -10px;
}

@media (max-width: 1199px) {
    .alarm .mat-form-field {
        width: 16vw;
        padding: 5px 5px;
    }
}

@media (max-width: 991px) {
    .alarm .mat-form-field {
        width: 20vw;
        padding: 5px 5px;
    }
}

@media (max-width: 767px) {
    .alarm .mat-form-field {
        width: 50%;
        padding: 5px 5px;
    }
    .alarm .title {
        font-size: 19px;
    }
    .alarm .generateReport {
        width: 100%;
        margin-bottom: 10px;
    }
}
.activeAlarm {
    font: normal normal bold 14px/17px Lato;
    letter-spacing: 0.7px;
    color: #74819E;
    font-family: "Lato", sans-serif;
    margin-top: -3px !important;
    margin: 0;
    position: relative;
    padding-left: 17px;
    font-size: 16px
}
 .activeAlarm:before {
    content: '';
    width: 10px;
    height: 10px;
    background:#26A69A;
    position: absolute;
    margin-top: -3px !important;
    border-radius: 10px;
    top: 6px;
    left: 3px;
}
.InactiveAlarm {
    font: normal normal bold 14px/17px Lato;
    letter-spacing: 0.7px;
    color: #74819E;
    font-family: "Lato", sans-serif;
    margin-top: -3px !important;
    margin: 0;
    position: relative;
    padding-left: 17px;
    font-size: 16px
}
 .InactiveAlarm:before {
    content: '';
    width: 10px;
    height: 10px;
    background:red;
    position: absolute;
    border-radius: 10px;
    margin-top: -3px !important;
    top: 6px;
    left: 3px;
}
.mat-column-ticketid {
    word-wrap: break-word !important;
    // white-space: unset !important;
    // flex: 0 0 28% !important;
    width: 27% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
// alarm css ends

::ng-deep .mat-sort-header-arrow[style] {
    // Hide default arrow stem
    .mat-sort-header-stem {
      display: none;
    }
    .mat-sort-header-indicator {
      opacity: 1;
      color: black;
      font-weight: bold;
  
      // Hide default arrow as its composed of left, right and middle
      .mat-sort-header-pointer-left,
      .mat-sort-header-pointer-right,
      .mat-sort-header-pointer-middle {
        display: none;
      }
    }
  }
  
  // My custom ascending arrow
  [aria-sort='ascending'] {
    ::ng-deep .mat-sort-header-arrow {
      .mat-sort-header-indicator {
        &::before {
          content: '\25B4';
          top: -0em;
          position: absolute;
          color: #004e87;
          font-size: 20px;
          line-height: 10px;
        }
      }
    }
  }
  
  // My custom descending arrow
  [aria-sort='descending'] {
    ::ng-deep .mat-sort-header-arrow {
      .mat-sort-header-indicator {
        &::before {
          content: '\25BE';
          top: -15px;
          position: absolute;
          color: #004e87;
          font-size: 20px;
        }
      }
    }
  }
  