<!-- <h1>All Jobs</h1> -->
<ag-grid-angular style="width: 100wh; height: calc(100vh - 125px);" (firstDataRendered)="onFirstDataRendered($event)"
    class="ag-theme-balham" [rowData]="jobData" [columnDefs]="columnDefs" [gridOptions]="gridOptions">
</ag-grid-angular>

<!-- <nz-modal nzWidth={1000} [(nzVisible)]="isFormVisible" nzTitle="{{jobName}}" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <div class="row">
        <ag-grid-angular style="width: 100%; height: calc(100vh - 235px);" class="ag-theme-balham" [rowData]="rowData"
          [columnDefs]="columnDefs1" (firstDataRendered)="onFirstDataRendered($event)" [gridOptions]="gridOptions">
        </ag-grid-angular>
      </div>
</nz-modal> -->