.font{
    font-size: 32px !important;
    font-weight: bold !important;
    color:black;
    font:  32px/27px;
}
.text-font{
    font-size:24px !important;
    font:  24px/18px !important;
}
.font404{
    font-size: 70px !important;
    font-weight: bold !important;
    font:  70px/64px ;
    color:black;
    margin-top:50px;
    margin-bottom:70px;
}
.contetnt{
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.top{
    margin-top: 30px;
    color: #2c60e4;
}
.c-app{
    background-color:white !important;
}
.btn:hover{
    color:white;
    background-color: #2c60e4 !important;
}
.c-subheader {   
    background:white;
    box-shadow: none;
    height: 100vh;
}