@import '../../../../../src/app/components/mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* LOGIN */

.boxContainer {
  padding: rem(50) rem(30);
}

.labels {
  label & {
    width: 75px !important;
  }
}

.btn-sub{
  background: #4b7cf3 !important;
  color: white !important;
}

