<div class="topbar">
  <div class="mr-auto">
    <div class="text-grey-6 font-size-24">
      <strong *ngIf="companyName">{{companyName}}</strong>
      <!-- <strong *ngIf="!companyName">Ease-i</strong> -->
    </div>
  <!-- <cui-topbar-search></cui-topbar-search> -->
  </div>
  <div class="mr-4 d-none d-md-block">    
    <!-- <cui-topbar-issues-history></cui-topbar-issues-history> -->
  </div>
  <div class="mb-0 mr-auto d-xl-block d-none">
    <!-- <cui-topbar-project-management></cui-topbar-project-management> -->
  </div>
  <div class="mr-4 d-none d-sm-block">
    <cui-topbar-language-switcher></cui-topbar-language-switcher>
  </div>
  <div class="mr-4 d-none d-sm-block mt" *ngIf="isAdmin">
    <form  nz-form [nzLayout]="'vertical'" [formGroup]="application" role="form">
    <nz-form-item>
      <nz-form-control>
          <nz-select nzSize="medium" nzPlaceHolder="Choose Application" (ngModelChange)="switchApplication($event)" formControlName="app">
          <nz-option nzValue="dashboard" nzLabel="Dashboard" >
          </nz-option>
          </nz-select>
      </nz-form-control>
      </nz-form-item> 
    </form>
  </div>
  <!-- <div class="mr-4 d-none d-sm-block">
    <cui-topbar-actions></cui-topbar-actions>
  </div> -->
  <div>
    <cui-topbar-user-menu></cui-topbar-user-menu>
  </div>
</div>