.events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

.notes-month {
  text-align: center;
  font-size: 28px;
}

.notes-month section {
  font-size: 28px;
}
.cancel {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #057AE7;
  border-radius: 20px;
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #057AE7;
  font-family: 'Lato', sans-serif;
  margin-top: 28px;
  font-weight: 600;
  // margin-right: 15px;
}
.cancel:focus {
  outline: none;
}
.c-subheader{
  background-color: #F7F9FC !important;
}
.plantDashboard{
  width: 100% !important;
  background-color: #F7F9FC !important;
}