<div class="c-subheader sticky-top justify-content-between px-3 c-header-shadow">
    <div class="bcuDashboard">
        <div class="row" style="width: 100%;padding: 10px 0px;">
            <div class="col-md-6">
                <h3 class="title">BCU</h3>
            </div>
            <!-- <div class="col-md-6">
                <button class="raiseAlarm" >Raise Alarm</button>
            </div> -->

            <div class="col-md-12" *ngIf="bcuSummary">
                <p class="smallDesc">BOT ID: {{bcuSummary.botId}} &nbsp;|&nbsp; Cumulative  Distance
                    Travelled: {{bcuSummary.distanceTravelled}} km 
                    <!-- &nbsp;
                    |&nbsp;BOT Type: {{bcuSummary.botType  | titlecase}} -->
                     &nbsp;|&nbsp; BOT Commissioned On: {{bcuSummary.botCommissionOn}}

                </p>
                <p class="smallDesc py-3">
                    Communication:<span
                       *ngIf="bcuSummary.communication =='active'" [ngClass]="{'activeAlarm':bcuSummary.communication =='active' }"> {{bcuSummary.communication  | titlecase}}</span><span
                       *ngIf="bcuSummary.communication =='InActive'" [ngClass]="{'notActive':bcuSummary.communication =='InActive' }"> {{bcuSummary.communication  | titlecase}}</span>
                    |&nbsp; Cleaning:<span class=""> {{bcuSummary.cleaning}}</span>
                </p>
            </div>

            <div class="col-md-12 row">
                <div class="col-md-3">

                    <mat-form-field appearance="fill" appearance="fill" class="allKnu">
                        <mat-label> NCU ID </mat-label>
                        <mat-select matNativeControl [(ngModel)]="ncu" (selectionChange)="selectNcuId($event.value)">
                            <mat-option *ngFor="let ncu of ncuList" [value]="ncu.id">
                                {{ncu.name}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field appearance="fill" class="allBot">
                        <mat-label> BCU ID</mat-label>
                        <mat-select matNativeControl [(ngModel)]="bcu" (selectionChange)="selectbcuId($event.value)">
                            <mat-option *ngFor="let bcu of bcuList" [value]="bcu.id"  [matTooltip]="bcu.name">
                                {{bcu.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                </div>
                <div class="col-md-2">
                    <span style="position: relative;">
                        <button style="margin-top: 23px;" type="button" class="btn btn-link resetBtn" (click)="reset()">Reset</button>
                    </span>
                </div>
            </div>

        </div>
        <div class="row chartDiv">
            <div class="col-12">
                <div class="row chart">
                    <div class="col-lg-6">
                        <mat-card class="mb-4">
                            <mat-card-header class="header-uptime">
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-card-title class="t1">Motor Current Graph</mat-card-title>
                                    </div>
                                    <div class="col-md-4" style="float:left ;margin-top: -12px;">
                                        <div class="calendar">
                                            <mat-form-field appearance="fill" class="calendar">
                                               <!--  <mat-label>Last 7 days</mat-label> -->
                                                <mat-select matNativeControl  [(ngModel)]="motordays"
                                                    (selectionChange)="changeMotorbucket($event.value)">
                                                    <!-- <mat-option value="1 hr">Last 1 hr</mat-option>
                                                    <mat-option value="6 hr">Last 6 hr</mat-option> -->
                                                    <mat-option value="1">Last 1 day</mat-option>
                                                    <mat-option value="7">Last 7 days</mat-option>
                                                    <mat-option value="15">Last 15 days</mat-option>
                                                    <mat-option value="30">Last 30 days</mat-option>
                                                    <mat-option value="60">Last 60 days</mat-option>
                                                    <mat-option value="180">Last 180 days</mat-option>
                                                    <mat-option value="365">Last 1 year</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="apexchart" *ngIf="chartOptionsMotorCurrent">
                                    <apx-chart [series]="chartOptionsMotorCurrent.series"
                                        [annotations]="chartOptionsMotorCurrent.annotations"
                                        [chart]="chartOptionsMotorCurrent.chart"
                                        [xaxis]="chartOptionsMotorCurrent.xaxis"
                                        [markers]="chartOptionsMotorCurrent.markers"
                                        [stroke]="chartOptionsMotorCurrent.stroke"
                                        [yaxis]="chartOptionsMotorCurrent.yaxis" [grid]="chartOptionsMotorCurrent.grid"
                                        [dataLabels]="chartOptionsMotorCurrent.dataLabels"
                                        [title]="chartOptionsMotorCurrent.title" [fill]="chartOptionsMotorCurrent.fill"
                                        [tooltip]="chartOptionsMotorCurrent.tooltip"
                                        [legend]="chartOptionsMotorCurrent.legend">
                                    </apx-chart>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-6">
                        <mat-card class="mb-4">
                            <mat-card-header class="header-uptime">
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-card-title class="t2">Brush Current Graph</mat-card-title>
                                    </div>
                                    <div class="col-md-4" style="float:left ;margin-top: -12px;">
                                        <div class="calendar">
                                            <mat-form-field appearance="fill" class="calendar">
                                               <!--  <mat-label>Last 7 days</mat-label> -->
                                                <mat-select matNativeControl [(ngModel)]="brushdays"
                                                    (selectionChange)="changeBrushbucket($event.value)">
                                                    <!-- <mat-option value="1 hr">Last 1 hr</mat-option>
                                                    <mat-option value="6 hr">Last 6 hr</mat-option> -->
                                                    <mat-option value="1">Last 1 day</mat-option>
                                                    <mat-option value="7">Last 7 days</mat-option>
                                                    <mat-option value="15">Last 15 days</mat-option>
                                                    <mat-option value="30">Last 30 days</mat-option>
                                                    <mat-option value="60">Last 60 days</mat-option>
                                                    <mat-option value="180">Last 180 days</mat-option>
                                                    <mat-option value="365">Last 1 year</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-4" style="float:left ;margin-top: -12px;">
                                        <div class="calendar">
                                            <mat-form-field appearance="fill" class="calendar">
                                                <mat-label>last Second</mat-label>
                                                <mat-select matNativeControl>
                                                    <mat-option *ngFor="let item of brushBucketList"
                                                        [value]="item.value">{{item.label}}</mat-option>
                                                    <mat-option value="30" >30 Second</mat-option>
                                                    <mat-option value="1">1 Minute</mat-option>
                                                    <mat-option value="1">1 Hour</mat-option>
                                                    <mat-option value="6">6 Hour</mat-option>
                                                    <mat-option value="12">12 Hour</mat-option>
                                                    <mat-option value="1" > 1 days</mat-option>
                                                    <mat-option value="1" > 1 Month</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div> -->
                                </div>
                            </mat-card-header>
                            <mat-card-content *ngIf="chartOptionsBrushCurrent">
                                <!-- <highcharts-chart [Highcharts]="Highcharts" id="container" style="width: 100%;  display: block;"></highcharts-chart> -->
                                <apx-chart [series]="chartOptionsBrushCurrent.series"
                                    [chart]="chartOptionsBrushCurrent.chart" [xaxis]="chartOptionsBrushCurrent.xaxis"
                                    [markers]="chartOptionsBrushCurrent.markers"
                                    [stroke]="chartOptionsBrushCurrent.stroke" [yaxis]="chartOptionsBrushCurrent.yaxis"
                                    [grid]="chartOptionsBrushCurrent.grid"
                                    [dataLabels]="chartOptionsBrushCurrent.dataLabels"
                                    [title]="chartOptionsBrushCurrent.title" [fill]="chartOptionsBrushCurrent.fill"
                                    [tooltip]="chartOptionsBrushCurrent.tooltip"
                                    [legend]="chartOptionsBrushCurrent.legend"></apx-chart>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-6">
                        <mat-card class="mb-4">
                            <mat-card-header class="header-uptime">
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-card-title class="t3">Temperature Graph</mat-card-title>
                                    </div>
                                    <div class="col-md-4" style="float:left ;margin-top: -12px;">
                                        <div class="calendar">
                                            <mat-form-field appearance="fill" class="calendar">
                                               <!--  <mat-label>Last 7 days</mat-label> -->
                                                <mat-select matNativeControl [(ngModel)]="tempdays"
                                                    (selectionChange)="changeTemperaturebucket($event.value)">
                                                    <mat-option value="1">Last 1 day</mat-option>
                                                    <mat-option value="7">Last 7 days</mat-option>
                                                    <mat-option value="15">Last 15 days</mat-option>
                                                    <mat-option value="30">Last 30 days</mat-option>
                                                    <mat-option value="60">Last 60 days</mat-option>
                                                    <mat-option value="180">Last 180 days</mat-option>
                                                    <mat-option value="365">Last 1 year</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content *ngIf="chartOptionsMotor_Brush_Temp">
                                <div class="apexchart">
                                    <apx-chart [series]="chartOptionsMotor_Brush_Temp.series"
                                        [chart]="chartOptionsMotor_Brush_Temp.chart"
                                        [xaxis]="chartOptionsMotor_Brush_Temp.xaxis"
                                        [markers]="chartOptionsMotor_Brush_Temp.markers"
                                        [stroke]="chartOptionsMotor_Brush_Temp.stroke"
                                        [yaxis]="chartOptionsMotor_Brush_Temp.yaxis"
                                        [grid]="chartOptionsMotor_Brush_Temp.grid"
                                        [dataLabels]="chartOptionsMotor_Brush_Temp.dataLabels"
                                        [title]="chartOptionsMotor_Brush_Temp.title"
                                        [fill]="chartOptionsMotor_Brush_Temp.fill"
                                        [tooltip]="chartOptionsMotor_Brush_Temp.tooltip"
                                        [legend]="chartOptionsMotor_Brush_Temp.legend">
                                    </apx-chart>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-6">
                        <mat-card class="mb-4">
                            <mat-card-header class="header-uptime">
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-card-title class="t4"> Battery Temperature and Voltage Graph</mat-card-title>
                                    </div>
                                    <div class="col-md-4" style="float:left ;margin-top: -12px;">
                                        <div class="calendar">
                                            <mat-form-field appearance="fill" class="calendar">
                                               <!--  <mat-label>Last 7 days</mat-label> -->
                                                <mat-select matNativeControl [(ngModel)]="voltagedays"
                                                    (selectionChange)="changeTempVoltageBucket($event.value)">
                                                    <mat-option value="1">Last 1 day</mat-option>
                                                    <mat-option value="7">Last 7 days</mat-option>
                                                    <mat-option value="15">Last 15 days</mat-option>
                                                    <mat-option value="30">Last 30 days</mat-option>
                                                    <mat-option value="60">Last 60 days</mat-option>
                                                    <mat-option value="180">Last 180 days</mat-option>
                                                    <mat-option value="365">Last 1 year</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content *ngIf="chartOptions2">
                                <!-- <highcharts-chart [Highcharts]="Highcharts" id="container" style="width: 100%;  display: block;"></highcharts-chart> -->
                                <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart"
                                    [xaxis]="chartOptions2.xaxis" [markers]="chartOptions2.markers"
                                    [stroke]="chartOptions2.stroke" [yaxis]="chartOptions2.yaxis"
                                    [grid]="chartOptions2.grid" [dataLabels]="chartOptions2.dataLabels"
                                    [title]="chartOptions2.title" [fill]="chartOptions2.fill"
                                    [tooltip]="chartOptions2.tooltip" [legend]="chartOptions2.legend"></apx-chart>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-6">
                        <mat-card class="mb-4">
                            <mat-card-header class="header-uptime">
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-card-title class="t5"> Battery Current and SoC Graph</mat-card-title>
                                    </div>
                                    <div class="col-md-4" style="float:left ;margin-top: -12px;">
                                        <div class="calendar">
                                            <mat-form-field appearance="fill" class="calendar">
                                               <!--  <mat-label>Last 7 days</mat-label> -->
                                                <mat-select matNativeControl [(ngModel)]="socdays"
                                                    (selectionChange)="changeCurrentSocBucket($event.value)">
                                                    <!-- <mat-option value="1 hr">Last 1 hr</mat-option>
                                                    <mat-option value="6 hr">Last 6 hr</mat-option> -->
                                                    <mat-option value="1">Last 1 day</mat-option>
                                                    <mat-option value="7">Last 7 days</mat-option>
                                                    <mat-option value="15">Last 15 days</mat-option>
                                                    <mat-option value="30">Last 30 days</mat-option>
                                                    <mat-option value="60">Last 60 days</mat-option>
                                                    <mat-option value="180">Last 180 days</mat-option>
                                                    <mat-option value="365">Last 1 year</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content *ngIf="chartOptions1">
                                <apx-chart [series]="chartOptions1.series" [chart]="chartOptions1.chart"
                                    [xaxis]="chartOptions1.xaxis" [markers]="chartOptions1.markers"
                                    [stroke]="chartOptions1.stroke" [yaxis]="chartOptions1.yaxis"
                                    [grid]="chartOptions1.grid" [dataLabels]="chartOptions1.dataLabels"
                                    [title]="chartOptions1.title" [fill]="chartOptions1.fill"
                                    [tooltip]="chartOptions1.tooltip" [legend]="chartOptions1.legend"></apx-chart>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-6">
                        <mat-card class="mb-4">
                            <mat-card-header class="header-uptime">
                                <div class="row">
                                    <div class="col-md-8">
                                        <mat-card-title class="t6"> PCB1 and PCB2 Temperature Graph</mat-card-title>
                                    </div>
                                    <div class="col-md-4" style="float:left ;margin-top: -12px;">
                                        <div class="calendar">
                                            <mat-form-field appearance="fill" class="calendar">
                                               <!--  <mat-label>Last 7 days</mat-label> -->
                                                <mat-select matNativeControl [(ngModel)]="pcbdays"
                                                    (selectionChange)="changePcbBucket($event.value)">
                                                    <!-- <mat-option value="1 hr">Last 1 hr</mat-option>
                                                    <mat-option value="6 hr">Last 6 hr</mat-option> -->
                                                    <mat-option value="1">Last 1 day</mat-option>
                                                    <mat-option value="7">Last 7 days</mat-option>
                                                    <mat-option value="15">Last 15 days</mat-option>
                                                    <mat-option value="30">Last 30 days</mat-option>
                                                    <mat-option value="60">Last 60 days</mat-option>
                                                    <mat-option value="180">Last 180 days</mat-option>
                                                    <mat-option value="365">Last 1 year</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content *ngIf="chartOptions">
                                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                    [xaxis]="chartOptions.xaxis" [markers]="chartOptions.markers"
                                    [stroke]="chartOptions.stroke" [yaxis]="chartOptions.yaxis"
                                    [grid]="chartOptions.grid" [dataLabels]="chartOptions.dataLabels"
                                    [title]="chartOptions.title" [fill]="chartOptions.fill"
                                    [tooltip]="chartOptions.tooltip" [legend]="chartOptions.legend"></apx-chart>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-12">
                        <mat-card class="mb-4">
                            <mat-card-header>
                                <mat-card-title class="t7">
                                    Alarm Details
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="tablecss">
                                    <table mat-table [dataSource]="dataSource" matSort
                                        (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
                                        <ng-container matColumnDef="ticketid">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by ticketid">
                                                Ticket ID
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ticketid}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ncuid">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by ncuid">
                                                NCU ID
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ncuid}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="date">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by date">
                                                Date
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.date}}
                                            </td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="time">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by time">
                                                Time
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.time}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="component">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by component">
                                                Component
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.component}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="description">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by description">
                                                Description
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.description}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="expectedtat">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by expectedtat">
                                                Expected TAT
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.expectedtat}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="nodata">
                                            <td mat-footer-row *matFooterCellDef [colSpan]="displayedColumns.length" 
                                            style="text-align: center;">No Data Available</td>
                                          </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                        </tr>
                                        <tr mat-footer-row 
                                        [hidden]="dataSource.data.length >0"
                                       *matFooterRowDef="['nodata']">
                                      </tr>
                                    </table>
                                    <mat-paginator #paginator [pageSize]="10"
                                        [pageSizeOptions]="[5, 10, 20,50]" [showFirstLastButtons]="true">
                                    </mat-paginator>
                                </div>
                                </div>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-12">
                        <mat-card class="mb-4">
                            <mat-card-header>
                                <mat-card-title class="t7">
                                    Notification Details
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="tablecss">
                                    <table mat-table [dataSource]="dataSource1" matSort
                                        (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
                                        <ng-container matColumnDef="ticket_id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by ticket_id">
                                                Ticket ID
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ticket_id}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ncu_id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by ncu_id">
                                                NCU ID
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ncu_id}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="date">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by date">
                                                Date
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.date}}
                                            </td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="time">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by time">
                                                Time
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.time}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="component">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by component">
                                                Component
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.component}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="description">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by description">
                                                Description
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.description}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="expected_tat">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by expected_tat">
                                                Expected TAT
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.expected_tat}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="nodata">
                                            <td mat-footer-row *matFooterCellDef [colSpan]="displayedColumns1.length" 
                                            style="text-align: center;">No Data Available</td>
                                          </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;">
                                        </tr>
                                        <tr mat-footer-row 
                                        [hidden]="dataSource1.data.length >0"
                                       *matFooterRowDef="['nodata']">
                                      </tr>
                                    </table>
                                    <!-- <mat-paginator #paginator [pageSize]="10"
                                        [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                                    </mat-paginator> -->
                                </div>
                                </div>
                            </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-lg-12">
                        <mat-card class="mb-4">
                            <mat-card-header>
                                <mat-card-title class="t7">
                                    Bot Instantaneous Parameter Chart
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="tablecss">
                                    <table mat-table [dataSource]="dataSource2" matSort
                                        (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
                                        <ng-container matColumnDef="component">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by component">
                                                Component
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.component}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="uom">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by uom">
                                                UOM
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.uom}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="minimum">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by minimum">
                                                Minimum
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.minimum}}
                                            </td>
                                        </ng-container>

                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="maximum">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by maximum">
                                                Maximum
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.maximum}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="instantaneous">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by instantaneous">
                                                <span class="header-labels">  Instanteneous</span>
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.instantaneous}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="avgerage">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by avgerage">
                                                <span class="header-labels"> Last 5 Data Points Avg</span>
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{element.avgerage}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="nodata">
                                            <td mat-footer-row *matFooterCellDef [colSpan]="displayedColumns2.length" 
                                            style="text-align: center;">No Data Available</td>
                                          </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
                                        </tr>
                                        <tr mat-footer-row 
                                        [hidden]="dataSource2.data.length >0"
                                       *matFooterRowDef="['nodata']">
                                      </tr>
                                    </table>
                                    <!-- <mat-paginator #paginator [pageSize]="10"
                                        [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                                    </mat-paginator> -->
                                </div>
                                </div>
                            </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>