<div class="c-subheader sticky-top justify-content-between px-3 c-header-shadow">
    <div class="row" style="width: 100%;padding: 10px 0px;">
        <div class="col-md-6">
            <h3 class="title">Settings</h3>
        </div>
     </div> 
    <div class="settingPage">
             <div class="col-sm-12">
                <div class="row">
                    <div class="col-12">
                        <mat-card class="mb-4">
                            <mat-card-content>
                                      <div class="row">
                                            <div class="col-md-12 centerTxt">
                                                <h4 class="title">Last Login Details </h4>
                                            </div>
                                            <div class="col-md-12 centerTxt"> 
                                                <p class="smallDesc">User Name :  &nbsp; {{username}}   </p>
                                            </div>
                                            <div class="col-md-12 centerTxt">
                                                <p class="smallDesc">   Last Login  on :  {{lastLogin}}</p>
                                            </div>
                                            <div class="col-md-12 centerTxt">
                                                <p class="smallDesc">  Theme : 
                                                    <span ><mat-slide-toggle  [(ngModel)]="checked" (change)="toggleDarkness()">{{name}}</mat-slide-toggle></span>
                                            </div>
                                        </div> 
                             </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div> 
    </div>
</div>
