.mat-form-field {
    width: 12vw;
    padding: 5px 5px;
}

.c-subheader {
    background: #F7F9FC;
    box-shadow: none;
    height: calc(100vh - 95px);
    overflow: auto;
    }
@media(max-width:900px) {

 .tdcss{
  padding-right:8px !important;
} 
}
// alarm css strted
.alarm .mat-form-field {
    width: 13vw;
    padding: 5px 5px;
}
.mat-column-bot_id {
    word-wrap: break-word !important;
    // white-space: unset !important;
    // flex: 0 0 28% !important;
    width: 22% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
/*   .mat-column-target_tat {
    word-wrap: break-word !important;
    text-align: left;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  } */
.alarm .title {
    font: normal normal bold 24px/29px Lato;
    letter-spacing: 1.2px;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #2D3047;
}

.alarm .generateReport {
    float: right;
    background: #0575E6;
    color: #fff;
    border: none;
    border: 1px solid #0575E6;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 20px;
    padding: 9px 35px;
    font-size: 14px;
    margin-bottom: 5px;
}
.alarmSummary{
    float: right;
    background: #FFFFFF;
    color: #0575E6;
    border: none;
    border: 1px solid #0575E6;
    box-shadow: none;
    outline: #0575E6;
    -webkit-appearance: none;
    border-radius: 20px;
    padding: 9px 35px;
    font-size: 14px;
    margin-right: 10px;
}

.alarm .smallDesc {
    font: normal normal bold 16px/19px Lato;
    letter-spacing: 0.8px;
    color: #74819E;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.alarm {
    background: #F7F9FC;
    width: 100%;
}
.tablecss{
    width: 100%;
    display: inline-grid;
    overflow: auto;
}

.alarm .reset {
    padding-left: 10px;
    position: absolute;
    top: -10px;
}

@media (max-width: 1199px) {
    .alarm .mat-form-field {
        width: 16vw;
        padding: 5px 5px;
    }
}

@media (max-width: 991px) {
    .alarm .mat-form-field {
        width: 20vw;
        padding: 5px 5px;
    }
}

@media (max-width: 767px) {
    .alarm .mat-form-field {
        width: 50%;
        padding: 5px 5px;
    }
    .alarm .title {
        font-size: 19px;
    }
    .alarm .generateReport {
        width: 100%;
        margin-bottom: 10px;
    }
}

// alarm css ends

::ng-deep .mat-sort-header-arrow[style] {
    // Hide default arrow stem
    .mat-sort-header-stem {
      display: none;
    }
    .mat-sort-header-indicator {
      opacity: 1;
      color: black;
      font-weight: bold;
  
      // Hide default arrow as its composed of left, right and middle
      .mat-sort-header-pointer-left,
      .mat-sort-header-pointer-right,
      .mat-sort-header-pointer-middle {
        display: none;
      }
    }
  }
  
  // My custom ascending arrow
  [aria-sort='ascending'] {
    ::ng-deep .mat-sort-header-arrow {
      .mat-sort-header-indicator {
        &::before {
          content: '\25B4';
          top: -0em;
          position: absolute;
          color: #004e87;
          font-size: 20px;
          line-height: 10px;
        }
      }
    }
  }
  
  // My custom descending arrow
  [aria-sort='descending'] {
    ::ng-deep .mat-sort-header-arrow {
      .mat-sort-header-indicator {
        &::before {
          content: '\25BE';
          top: -15px;
          position: absolute;
          color: #004e87;
          font-size: 20px;
        }
      }
    }
  }

  .mat-table {
    overflow-x: scroll;
  }

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding-left: 10px;
  padding-right: 20px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.mat-row,
.mat-header-row {
  display: table-row;
}
.header-labels{
  white-space: normal !important;
  word-wrap: break-word !important;
  max-width: 100px !important;
}
.alarm .resumeAbort {
  color: #0575E6;
  padding:0;
 font-size: 14px;
}