::ng-deep.btn-simple {
    padding: 3px !important;
    line-height: 0.9;
    border-radius: 3px;
    border: 1px solid;
}
.first-half {
    border: 1px solid;
    padding: 0px;
    margin-bottom: 15px;
    height: calc(100vh - 388px);
    overflow: auto;
}
.attribute-title {
    background: lightblue;
    height: 40px;
    display: flex;
    font-weight: 700;
    border-bottom: 1px solid black;
}
.attribute-field {
    font-weight: 600;
    padding: 5px;
    border: 1px solid;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    background: lightgray;
}
.margin-auto {
    margin: auto;
}
::ng-deep.ant-form-item-explain {
    position: absolute;
    top: 37px;
}
::ng-deep.col-form-label {
    width: 100%;
}

.screenPreview::ng-deep.formcomponents {
    display: none;
}
.screenPreview::ng-deep.formarea {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}
.width100 {
    width: 100%;
}

::ng-deep.ant-tabs-tab {
    padding: 0px 5px !important;
}
::ng-deep.ant-tabs-nav .ant-tabs-tab {
    margin-right: 0px !important;
}

.create-screen-height {
    min-height: 110px;
}


.chipsMain {
    // display: flex; 
    flex-wrap: wrap;
    padding:10px;
}

.chipsIn {
    display: inline-table;
    margin-bottom: 10px;
}


.chipsClass {
    background-color: #f2f4f8;
    margin: 0px 5px 0px 5px;
    border-radius: 20px;
    padding: 2px 10px;
}
.chipsCancelButton {
    color: #595c97;
    position: relative;
    top: 2px;
    left: 5px;
    cursor: pointer;
}
