<div class="col-md-12 card">
    <div class="row">
      <div class="col-md-10 text-grey-6 font-size-16 mb-3">
        <strong>Plant Page Layout</strong>
      </div>
    </div>
    <form nz-form [nzLayout]="'vertical'" [formGroup]="plantLayoutForm" role="form">
            <div class="row">
                <div class="col-md-3">
                  <nz-form-item>
                      <nz-form-label class="labels" nzFor="dropdown">User</nz-form-label>
                      <nz-form-control>
                          <nz-select nzSize="medium" nzPlaceHolder="Dropdown" formControlName="user">
                            <nz-option *ngFor="let user of userList" [nzValue]="user.id" [nzLabel]="user.firstName"></nz-option>
                          </nz-select>
                      </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-md-3">
                    <nz-form-item>
                        <nz-form-label class="labels" nzFor="dropdown">Master</nz-form-label>
                        <nz-form-control>
                            <nz-select nzSize="medium" nzPlaceHolder="Dropdown" formControlName="user">
                              <nz-option *ngFor="let master of masterList" [nzValue]="master.name" [nzLabel]="master.name"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                  </div>
            </div>
            <div class="row">
                <nz-form-label class="labels" nzFor="dropdown">Master</nz-form-label>
                <div class="col-md-3">
                    <label nz-checkbox>Test</label>
                </div>
            </div>
    </form>
</div>